<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text">
            <name>AfRedirectIfEmptyCode</name>
            <label lang="de">Status Code</label>
            <label lang="en">Status Code</label>
            <value>410</value>
            <description lang="de">Status Code welcher gesetzt wird, wenn Kategorie leer ist.</description>
            <description lang="en">Status Code welcher gesetzt wird, wenn Kategorie leer ist.</description>
        </element>
    </elements>

</config>
